@model TreatShoppe.Models.Order

<h4>Add treat to Order #: @Html.DisplayFor(model => model.OrderId):</h4>

<div class="inner-pane">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.OrderId)

    @Html.Label("Select treat", null, new {@class="form-label"})
    @Html.DropDownList("TreatId", null, "--Treat--", new {@class = "form-control form-select"})

    <button type="submit" class="btn btn-input">Add</button>
  }
</div>

@Html.ActionLink("Back to order", "Details", new {id = Model.OrderId }, new { @role="button", @class="btn" })