@using TreatShoppe.Models;
@model TreatShoppe.Models.Order

<h2>Order Details</h2>
<hr />
<h3>Order #: @Html.DisplayFor(model => model.OrderId)</h3>

<div class="inner-pane">
  <p><strong>Delivery date:</strong> @Html.DisplayFor(model => model.DeliveryDate)
  <p><strong>Total price:</strong> $@Html.DisplayFor(model => model.TotalPrice)

    @if (@Model.OrderTreats.Count == 0)
      {
    <h3>This treat contains no treats</h3>
      }
      else
      {
    <h4>Treats in order:</h4>
    <ul>
          @foreach (OrderTreat orderTreat in Model.OrderTreats)
          {
        <div class="deep-pane">
          <li>
                @Html.ActionLink(orderTreat.Treat.Name, "Details", "Treats")
                @using (Html.BeginForm("DeleteTreat", "Orders"))
                {
                  @Html.Hidden("orderTreatId", @orderTreat.OrderTreatId)
              <button class="btn" type="submit">Delete Treat</button>
                }
          </li>
        </div>
          }
    </ul>
      }
</div>

<div class="btn-group-vertical" role="group">
  @Html.ActionLink("Add treat to order", "AddTreat", new { id = Model.OrderId }, new { @role="button", @class="btn" })
  @Html.ActionLink("Edit order", "Edit", new { id = Model.OrderId }, new { @role="button", @class="btn" })
  @Html.ActionLink("Delete order", "Delete", new { id = Model.OrderId }, new { @role="button", @class="btn" })
</div>