@model TreatShoppe.Models.Treat

<h4>Add flavor to @Html.DisplayFor(model => model.Name):</h4>

<div class="inner-pane">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select flavor", null, new {@class="form-label"})
    @Html.DropDownList("FlavorId", null, "--Flavor--", new {@class = "form-control form-select"})

    <button type="submit" class="btn btn-input">Add</button>
  }
</div>

@Html.ActionLink("Back to treat", "Details", new {id = Model.TreatId }, new { @role="button", @class="btn" })