@model TreatShoppe.Models.Treat

<h4>Add a new treat</h4>

<div class="inner-pane">
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name, new {@class="form-label"})
    @Html.TextBoxFor(model => model.Name, new {@class="form-control", @required=true})

    @Html.LabelFor(model => model.Description, new {@class="form-label"})
    @Html.TextBoxFor(model => model.Description, new {@class="form-control", @required=true})

    @Html.LabelFor(model => model.Price, new {@class="form-label"})
    @Html.EditorFor(model => model.Price, new {@class="form-control", @required=true})

    <button class="btn btn-input" type="submit">Add Treat</button>
  }
</div>
