@using TreatShoppe.Models;
@model TreatShoppe.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>Treat Name: @Html.DisplayFor(model => model.Name)</h3>

<p><strong>Treat description:</strong> @Html.DisplayFor(model => model.Description)</p>

<p><strong>Price:</strong> $@Html.DisplayFor(model => model.Price)</p>

@if (@Model.FlavorTreats.Count == 0)
{
  <p>This treat contains no flavors</p>
}
else
{
  <h4>Treat flavors:</h4>
  <ul>
  @foreach (FlavorTreat flavorTreat in Model.FlavorTreats)
    {
      <li>flavorTreat.Flavor.Name</li>
    }
  </ul>
}

@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })
@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId })
@Html.ActionLink("Back to list", "Index")