@using TreatShoppe.Models;
@model TreatShoppe.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>Flavor Name: @Html.DisplayFor(model => model.Name)</h3>

<div class="inner-pane">
  @if (@Model.FlavorTreats.Count == 0)
  {
    <p>No treats use this flavor</p>
  }
  else
  {
    <h4>Treats that use this flavor:</h4>
    <div class="deep-pane">
      <div class="btn-group-vertical" role="group">
        @foreach (FlavorTreat flavorTreat in Model.FlavorTreats)
        {
          @Html.ActionLink(flavorTreat.Treat.Name, "Details", "Treats", new { id = flavorTreat.Treat.TreatId }, new { @role="button", @class="btn" })
        }
      </div>
    </div>
  }
</div>

@if (User.IsInRole("admin"))
{
  <div class="btn-group-vertical" role="group">
  @Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })
  @Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })
</div>
}
